// Card restaurant 

%h-title {
    color: black;
    font-size: 32px;
    font-weight: 600;
    font-family: $title;

    @media screen and (max-width: 767px) {
        font-size: 22px;
    }
}

%m-title {
    width: 53px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 2px;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    border-bottom: 2px solid $green;
    font-family: $text;
}

%btn-princ {
    text-align: center;

    button {
        border: none;
        padding: 15px;
        font-size: 15px;
        color: $white;
        border-radius: 50px;
        font-family: $text;
        background: linear-gradient($pink, $purple);
    }
}

%title {
    color: black;
    font-size: 22px;
    font-weight: 600;
    font-family: $text;
}

%favoris {
    right: 0;
    position: absolute;

    .ic,
    .ic-heart,
    .heart {
        font-size: 25px;
    }
    .ic-heart {
        display: none;
    }
    &:hover,
    &:focus,
    &:active {
        .ic {
            display: none;
        }
        .ic-heart {
            display: block;
            color: $purple;
            transition: background 4s;
        }
    }
}

%btn-menu {
    width: 100%;
    border: none;
    padding: 10px;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 20px;
    flex-direction: column;
    background-color: #FFFFFF;
    font-family: $text;
    .tit-c {
        font-size: 18px;
        color: black;
        font-weight: 800;
        text-align: left;
        font-family: $text;
    }
    .txt {
        display: flex;
        .text {
            font-size: 18px;
            font-weight: 300;
            font-family: $text;
            @media screen and (max-width: 767px) {
                font-size: 15px;
            }
        }
    }
    .valid-btn {
        right: 30px;
        margin-top: 11px;
        position: absolute;
        .price {
            font-size: 18px;
            font-weight: 800;
            font-family: $text;
            @media screen and (max-width: 767px) {
                margin-right: -10px;
            }
        }
        .valid {
            padding: 25px 20px 24px 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: $green;
            i {
                color: #FFFFFF;
                font-size: 20px;
            }
            &:hover {
                i {
                    -webkit-transform: rotateZ('360deg');
                    -moz-transform: rotateZ('360deg');
                    transform: rotateZ('360deg');
                }
            }
        }
        @media screen and (max-width: 767px) {
            right: 20px;
        }
    }
}