// Card restaurant 

%h-title {
    color: black;
    font-size: 32px;
    font-weight: 600;
    font-family: $title;

    @media screen and (max-width: 767px) {
        font-size: 22px;
    }
}

%m-title {
    width: 53px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 2px;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    border-bottom: 2px solid $green;
    font-family: $text;
}

%btn-princ {
    text-align: center;

    button {
        border: none;
        padding: 15px;
        font-size: 15px;
        color: $white;
        border-radius: 50px;
        font-family: $text;
        background: linear-gradient($pink, $purple);
    }
}

%title {
    color: black;
    font-size: 22px;
    font-weight: 600;
    font-family: $text;
}

%favoris {
    right: 0;
    position: absolute;

    .ic,
    .ic-heart,
    .heart {
        font-size: 25px;
    }
    .ic-heart {
        display: none;
    }
    &:hover,
    &:focus,
    &:active {
        .ic {
            display: none;
        }
        .ic-heart {
            display: block;
            color: $purple;
            transition: background 4s;
        }
    }
}
