// Graphic Charter

$purple: #9356dc;
$pink: #ff79da;
$green: #99e2d0;
$white: #ffffff;

$title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;

// Color for the loader

$dot-1: #3f2064;
$dot-2: #d85bb5;
$dot-3: #000000;
$dot-4: #95e9d4;

// Générales

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1980px;
}
img {
  object-fit: cover;
}
.shad {
  border-radius: 20px;
  box-shadow: 0px 0px 16px #bebebe;
}
.shad-command {
  box-shadow: 0px 0px 8px #a7a6a6;
}
.favoris {
  @extend %favoris;
}
.btn-menu {
  opacity: 0;
  width: 100%;
  border: none;
  padding: 10px;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
  flex-direction: column;
  color: black !important;
  background-color: #ffffff;
  animation-name: moveLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-family: $text;
  .tit-c {
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    color: black !important;
    font-family: $text;
  }
  .txt {
    display: flex;
    .text {
      font-size: 18px;
      font-weight: 300;
      color: black !important;
      font-family: $text;
      @media screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
  }
  .valid-btn {
    right: 12px;
    margin-top: 11px;
    position: absolute;
    transition: all 0.3s ease-out;
    .valid {
      display: none;
      .fa-circle-check {
        font-size: 22px;
        color: #ffffff;
      }
    }
    .price {
      font-size: 18px;
      font-weight: 800;
      margin-right: 10px;
      font-family: $text;
    }
  }
  &:focus,
  &:active {
    .price {
      margin-right: 45px;
    }
    .valid {
      top: -44px;
      width: 50px;
      display: block;
      position: relative;
      padding: 25px 5px 19px 5px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      animation: appearBtnValid;
      background-color: $green;
      @media screen and (max-width: 767px) {
        padding: 25px 5px 15px 5px;
      }
      .fa-circle-check {
        animation: rotateIcon 2s; 
      }
    }
  }
}

// Boucle pour l'animation delay des boutons 

@for $i from 1 through 10 {
  .btn-#{$i} {
    animation-delay: #{$i}s;
  }
}

