.header {
    padding: 20px 0 20px 0;
    background-color: #FFFFFF;
    .logo {
        text-align: center;
        img {
            width: 20%;
            @media screen and (max-width: 480px) {
                width: 50% !important;
            }
            @media screen and (max-width: 1024px) {
                width: 35%;
            }
        }
        .home {
            position: absolute;
            margin: 10px 0px 0px -70px;
            .return {
                font-size: 30px;
                color: black;
            }
            @media screen and (max-width: 480px) {
                margin: 2px 0px 0px -70px !important;
            }
            @media screen and (max-width: 767px) {
                margin: 5px 0px 0px -70px;
            }
        }
    }
}
.footer {
    background-color: #353535;
    padding: 20px;
        h6 {
            font-size: 28px;
            color: #FFFFFF;
            font-weight: 300;
            margin-bottom: 20px;
            font-family: $title;
            @media screen and (max-width: 767px) {
                font-size: 18px;
            }
        }
        .links {
            display: flex;
            flex-direction: column;
            a {
                font-size: 16px;
                color: #FFFFFF;
                margin-bottom: 5px;
                text-decoration: none;
                font-family: $text;
                i {
                    margin-right: 5px;
                }
            }
        }
}