.int {
    .txt {
        color: black;
        font-size: 25px;
        text-align: center;
        padding: 30px 0 30px 0;
    }

    @media screen and (max-width: 767px) {
        .txt {
            font-size: 15px;
            padding: 20px 0 20px 0;
            font-family: $text;
        }
    }
}

.reserv {
    padding: 30px;
    background-color: #F7F7F7;

    .row {
        flex-direction: column;
    }

    h1,
    p {
        color: black;
        text-align: center;
        font-family: $text;
        margin-bottom: 20px;
    }
}

.fonct {
    padding: 50px;
    background-color: $white;

    .row {
        flex-direction: column;
    }

    .btn-1,
    .btn-2,
    .btn-3 {
        display: flex;
        margin-bottom: 30px;

        .number {
            padding: 5px;
            position: absolute;
            border-radius: 50%;
            background: $purple;
            margin: 25px 0px 25px -11px;

            span {
                padding: 5px;
                color: $white;
                font-family: $text;
            }
        }

        button {
            width: 100%;
            border: none;
            padding: 30px;
            display: flex;
            color: black;
            font-size: 15px;
            border-radius: 20px;
            font-family: $text;
            background-color: #F7F7F7;
            i {
                color: grey;
                font-size: 20px;
                margin-right: 15px;
            }

            .icon {
                margin-left: 15px;
            }

            .p-t {
                font-weight: 600;
                text-align: center;
            }
            &:hover,
            &:focus,
            &:active {
                background-color: #F5EDFF;
                i {
                    color: $purple;
                }
            }
        }
    }

    h2 {
        color: black;
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        padding: 50px 20px 50px 20px;
    }
}

.restau {
    padding: 30px 20px 30px 20px;

    .cards-list {
        margin: 30px 0px 30px 0px;
        a {
            color: black;
            text-decoration: none;
            .card {
                display: flex;
                margin-bottom: 20px;
                position: relative;
                flex-direction: column;
                background-color: $white;
        
                img {
                    height: 300px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
        
                    @media screen and (max-width: 480px) {
                        height: 210px;
                    }
                }
        
                .new {
                    right: 0;
                    width: 90px;
                    padding: 6px;
                    position: absolute;
                    margin: 2% 1% 0% 0%;
                    background-color: $green;
        
                    p {
                        color: #6cad9d;
                        font-size: 15px;
                        font-weight: 800;
                        text-align: center;
                        font-family: $text;
                    }
                    @media screen and (max-width: 767px) {
                        margin: 4% 3% 0% 0%;
                    }
                }
        
                .card-body {
                    padding: 15px 20px 25px 20px;
        
                    h5 {
                        color: black;
                        font-size: 20px;
                        font-weight: 600;
                        font-family: $text;
                    }
        
                    p {
                        color: black;
                        font-size: 16px;
                        font-weight: 300;
                        font-family: $text;
                    }
                }
            }
        }
    }
}

.present {
    height: 68vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1 {
        color: rgba(0, 0, 0, 0);
    }
    @media screen and (max-width: 480px) {
        height: 33vh !important;
    }
    @media screen and (max-width: 1024px) {
        height: 49vh;
    }
}
.franc {
    background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @media screen and (max-width: 1024px) {
        background-position: bottom;
    }
}
.note {
    background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.gout {
    background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.delice {
    background-position: bottom;
    background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu-restau {
    margin-top: -8%;
    position: relative;
    background-color: #FFFFFF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 50px 30px 50px 30px;
    @media screen and (max-width: 767px) {
        margin-top: -15%;
        padding: 30px 20px 30px 20px !important;
    }
    .title {
        display: flex;
        .favoris {
            right: 23px;
        }
    }
}
.commandes {
    h6 {
        display: none;
    }
    button {
        width: 200px;
        margin-bottom: 50px;
    }
}