.header {
    padding: 20px 0 20px 0;
    background-color: #FFFFFF;
    .logo {
        text-align: center;
        img {
            width: 20%;
            @media screen and (max-width: 480px) {
                width: 50% !important;
            }
            @media screen and (max-width: 1024px) {
                width: 35%;
            }
        }
        .home {
            position: absolute;
            margin: 10px 0px 0px -70px;
            .return {
                font-size: 30px;
                color: black;
            }
            @media screen and (max-width: 480px) {
                margin: 2px 0px 0px -70px !important;
            }
            @media screen and (max-width: 767px) {
                margin: 5px 0px 0px -70px;
            }
        }
    }
}