.header {
  padding: 20px 0 20px 0;
  background-color: #FFFFFF;
}
.header .logo {
  text-align: center;
}
.header .logo img {
  width: 20%;
}
@media screen and (max-width: 480px) {
  .header .logo img {
    width: 50% !important;
  }
}
@media screen and (max-width: 1024px) {
  .header .logo img {
    width: 35%;
  }
}
.header .logo .home {
  position: absolute;
  margin: 10px 0px 0px -70px;
}
.header .logo .home .return {
  font-size: 30px;
  color: black;
}
@media screen and (max-width: 480px) {
  .header .logo .home {
    margin: 2px 0px 0px -70px !important;
  }
}
@media screen and (max-width: 767px) {
  .header .logo .home {
    margin: 5px 0px 0px -70px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1980px;
}

img {
  object-fit: cover;
}

.shad {
  border-radius: 20px;
  box-shadow: 0px 0px 16px #bebebe;
}

.shad-command {
  border-radius: 50px;
  box-shadow: 0px 0px 16px #bebebe;
}

.btn-menu {
  opacity: 0;
  width: 100%;
  border: none;
  padding: 10px;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
  flex-direction: column;
  color: black !important;
  background-color: #ffffff;
  animation-name: moveLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-family: "Roboto", sans-serif;
}
.btn-menu .tit-c {
  font-size: 18px;
  font-weight: 800;
  text-align: left;
  color: black !important;
  font-family: "Roboto", sans-serif;
}
.btn-menu .txt {
  display: flex;
}
.btn-menu .txt .text {
  font-size: 18px;
  font-weight: 300;
  color: black !important;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 767px) {
  .btn-menu .txt .text {
    font-size: 15px;
  }
}
.btn-menu .valid-btn {
  right: 30px;
  margin-top: 11px;
  position: absolute;
  transition: all 0.3s ease-out;
}
.btn-menu .valid-btn .valid {
  display: none;
}
.btn-menu .valid-btn .valid .fa-circle-check {
  font-size: 22px;
  color: #ffffff;
}
.btn-menu .valid-btn .price {
  font-size: 18px;
  font-weight: 800;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}
.btn-menu:focus .price, .btn-menu:active .price {
  margin-right: 45px;
}
.btn-menu:focus .valid, .btn-menu:active .valid {
  top: -44px;
  width: 50px;
  right: -38px;
  display: block;
  position: relative;
  padding: 25px 5px 19px 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99e2d0;
}
@media screen and (max-width: 767px) {
  .btn-menu:focus .valid, .btn-menu:active .valid {
    padding: 25px 5px 15px 5px;
  }
}
.btn-menu:focus .valid .fa-circle-check, .btn-menu:active .valid .fa-circle-check {
  animation: rotateIcon 2s;
}

.btn-1 {
  animation-delay: 1s;
}

.btn-2 {
  animation-delay: 2s;
}

.btn-3 {
  animation-delay: 3s;
}

.btn-4 {
  animation-delay: 4s;
}

.btn-5 {
  animation-delay: 5s;
}

.btn-6 {
  animation-delay: 6s;
}

.btn-7 {
  animation-delay: 7s;
}

.btn-8 {
  animation-delay: 8s;
}

.btn-9 {
  animation-delay: 9s;
}

.btn-10 {
  animation-delay: 10s;
}

.footer {
  background-color: #353535;
  padding: 20px;
}
.footer h6 {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: "Shrikhand", cursive;
}
@media screen and (max-width: 767px) {
  .footer h6 {
    font-size: 18px;
  }
}
.footer .links {
  display: flex;
  flex-direction: column;
}
.footer .links a {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.footer .links a i {
  margin-right: 5px;
}
.footer .links a .fa-utensils {
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  #container {
    max-width: 480px !important;
  }
}
@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.int .txt {
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 30px 0 30px 0;
}
@media screen and (max-width: 767px) {
  .int .txt {
    font-size: 15px;
    padding: 20px 0 20px 0;
    font-family: "Roboto", sans-serif;
  }
}

.reserv {
  padding: 30px;
  background-color: #F7F7F7;
}
.reserv .row {
  flex-direction: column;
}
.reserv h1,
.reserv p {
  text-align: center;
  margin-bottom: 20px;
}

.fonct {
  padding: 50px;
  background-color: #ffffff;
}
.fonct .row {
  flex-direction: column;
}
.fonct .btn-1,
.fonct .btn-2,
.fonct .btn-3 {
  display: flex;
  margin-bottom: 30px;
}
.fonct .btn-1 .number,
.fonct .btn-2 .number,
.fonct .btn-3 .number {
  padding: 5px;
  position: absolute;
  border-radius: 50%;
  background: #9356dc;
  margin: 25px 0px 25px -11px;
}
.fonct .btn-1 .number span,
.fonct .btn-2 .number span,
.fonct .btn-3 .number span {
  padding: 5px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.fonct .btn-1 button,
.fonct .btn-2 button,
.fonct .btn-3 button {
  width: 100%;
  border: none;
  padding: 30px;
  display: flex;
  color: black;
  font-size: 15px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
}
.fonct .btn-1 button i,
.fonct .btn-2 button i,
.fonct .btn-3 button i {
  color: grey;
  font-size: 20px;
  margin-right: 15px;
}
.fonct .btn-1 button .icon,
.fonct .btn-2 button .icon,
.fonct .btn-3 button .icon {
  margin-left: 15px;
}
.fonct .btn-1 button .p-t,
.fonct .btn-2 button .p-t,
.fonct .btn-3 button .p-t {
  font-weight: 600;
  text-align: center;
}
.fonct .btn-1 button:hover, .fonct .btn-1 button:focus, .fonct .btn-1 button:active,
.fonct .btn-2 button:hover,
.fonct .btn-2 button:focus,
.fonct .btn-2 button:active,
.fonct .btn-3 button:hover,
.fonct .btn-3 button:focus,
.fonct .btn-3 button:active {
  background-color: #F5EDFF;
}
.fonct .btn-1 button:hover i, .fonct .btn-1 button:focus i, .fonct .btn-1 button:active i,
.fonct .btn-2 button:hover i,
.fonct .btn-2 button:focus i,
.fonct .btn-2 button:active i,
.fonct .btn-3 button:hover i,
.fonct .btn-3 button:focus i,
.fonct .btn-3 button:active i {
  color: #9356dc;
}
.fonct h2 {
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .fonct {
    padding: 50px 20px 50px 20px;
  }
}

.restau {
  padding: 30px 20px 30px 20px;
}
.restau .cards-list {
  margin: 30px 0px 30px 0px;
}
.restau .cards-list a {
  color: black;
  text-decoration: none;
}
.restau .cards-list a .card {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
}
.restau .cards-list a .card img {
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media screen and (max-width: 480px) {
  .restau .cards-list a .card img {
    height: 210px;
  }
}
.restau .cards-list a .card .new {
  right: 0;
  width: 90px;
  padding: 6px;
  position: absolute;
  margin: 2% 1% 0% 0%;
  background-color: #99e2d0;
}
.restau .cards-list a .card .new p {
  color: #6cad9d;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 767px) {
  .restau .cards-list a .card .new {
    margin: 4% 3% 0% 0%;
  }
}
.restau .cards-list a .card .card-body {
  padding: 15px 20px 25px 20px;
}
.restau .cards-list a .card .card-body h5 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.restau .cards-list a .card .card-body p {
  color: black;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.int,
.restau {
  background-color: #EAEAEA;
}

.favoris-ind {
  margin-top: -40px;
  margin-right: 20px;
}

p {
  color: black;
  font-family: "Roboto", sans-serif;
}

.present {
  height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.present h1 {
  color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 480px) {
  .present {
    height: 33vh !important;
  }
}
@media screen and (max-width: 1024px) {
  .present {
    height: 49vh;
  }
}

.franc {
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
@media screen and (max-width: 1024px) {
  .franc {
    background-position: bottom;
  }
}

.note {
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.gout {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.delice {
  background-position: bottom;
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu-restau {
  margin-top: -8%;
  position: relative;
  background-color: #FFFFFF;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 50px 30px 50px 30px;
}
@media screen and (max-width: 767px) {
  .menu-restau {
    margin-top: -15%;
    padding: 30px 20px 30px 20px !important;
  }
}
.menu-restau .title {
  display: flex;
}
.menu-restau .title .favoris {
  right: 23px;
}
.commandes h6 {
  display: none;
}
.commandes button {
  width: 200px;
  margin-bottom: 50px;
}

.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  animation-duration: 2.5s;
  animation-name: fade-loader;
  animation-fill-mode: forwards;
  background: linear-gradient(#ff79da, #9356dc);
}
.loader .dot {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 50%;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: wave-loader, wave-color;
  animation-timing-function: ease-in-out, linear;
}
.loader .dot .dot-1 {
  animation-delay: 0.1s;
}
.loader .dot .dot-2 {
  animation-delay: 0.3s;
}
.loader .dot .dot-3 {
  animation-delay: 0.6s;
}
.loader .dot .dot-4 {
  animation-delay: 0.9s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1980px;
}

img {
  object-fit: cover;
}

.shad {
  border-radius: 20px;
  box-shadow: 0px 0px 16px #bebebe;
}

.shad-command {
  border-radius: 50px;
  box-shadow: 0px 0px 16px #bebebe;
}

.btn-menu {
  opacity: 0;
  width: 100%;
  border: none;
  padding: 10px;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
  flex-direction: column;
  color: black !important;
  background-color: #ffffff;
  animation-name: moveLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-family: "Roboto", sans-serif;
}
.btn-menu .tit-c {
  font-size: 18px;
  font-weight: 800;
  text-align: left;
  color: black !important;
  font-family: "Roboto", sans-serif;
}
.btn-menu .txt {
  display: flex;
}
.btn-menu .txt .text {
  font-size: 18px;
  font-weight: 300;
  color: black !important;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 767px) {
  .btn-menu .txt .text {
    font-size: 15px;
  }
}
.btn-menu .valid-btn {
  right: 30px;
  margin-top: 11px;
  position: absolute;
  transition: all 0.3s ease-out;
}
.btn-menu .valid-btn .valid {
  display: none;
}
.btn-menu .valid-btn .valid .fa-circle-check {
  font-size: 22px;
  color: #ffffff;
}
.btn-menu .valid-btn .price {
  font-size: 18px;
  font-weight: 800;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}
.btn-menu:focus .price, .btn-menu:active .price {
  margin-right: 45px;
}
.btn-menu:focus .valid, .btn-menu:active .valid {
  top: -44px;
  width: 50px;
  right: -38px;
  display: block;
  position: relative;
  padding: 25px 5px 19px 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99e2d0;
}
@media screen and (max-width: 767px) {
  .btn-menu:focus .valid, .btn-menu:active .valid {
    padding: 25px 5px 15px 5px;
  }
}
.btn-menu:focus .valid .fa-circle-check, .btn-menu:active .valid .fa-circle-check {
  animation: rotateIcon 2s;
}

.btn-1 {
  animation-delay: 1s;
}

.btn-2 {
  animation-delay: 2s;
}

.btn-3 {
  animation-delay: 3s;
}

.btn-4 {
  animation-delay: 4s;
}

.btn-5 {
  animation-delay: 5s;
}

.btn-6 {
  animation-delay: 6s;
}

.btn-7 {
  animation-delay: 7s;
}

.btn-8 {
  animation-delay: 8s;
}

.btn-9 {
  animation-delay: 9s;
}

.btn-10 {
  animation-delay: 10s;
}

.menu-restau .h-title {
  color: black;
  font-size: 32px;
  font-weight: 600;
  font-family: "Shrikhand", cursive;
}
@media screen and (max-width: 767px) {
  .menu-restau .h-title {
    font-size: 22px;
  }
}

.menu-restau .m-title {
  width: 53px;
  color: black;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
  border-bottom: 2px solid #99e2d0;
  font-family: "Roboto", sans-serif;
}

.btn-princ {
  text-align: center;
}
.btn-princ button {
  border: none;
  padding: 15px;
  font-size: 15px;
  color: #ffffff;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#ff79da, #9356dc);
}

h1,
h2,
h3 {
  color: black;
  font-size: 22px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.favoris {
  right: 0;
  position: absolute;
}
.favoris .ic,
.favoris .ic-heart,
.favoris .heart {
  font-size: 25px;
}
.favoris .ic-heart {
  display: none;
}
.favoris:hover .ic, .favoris:focus .ic, .favoris:active .ic {
  display: none;
}
.favoris:hover .ic-heart, .favoris:focus .ic-heart, .favoris:active .ic-heart {
  display: block;
  color: #9356dc;
  transition: background 4s;
}

@keyframes valid-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  80% {
    transform: translate(0px, 2%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wave-loader {
  0%, 100% {
    transform: translateY(-30px);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
}
@keyframes wave-color {
  0%, 100% {
    background: #3f2064;
  }
  25% {
    background: #d85bb5;
  }
  50% {
    background: #000000;
  }
  75% {
    background: #95e9d4;
  }
}
@keyframes fade-loader {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
